<div class="sidebar">
    <div class="wrapper">
        <div>
            <div>
                <tui-icon icon="@tui.layout-dashboard" />
                <span>Дашборд</span>
            </div>
            <div>
                <tui-icon icon="@tui.folder" />
                <span>Проекты</span>
            </div>
            <div>
                <tui-icon icon="@tui.circle-check" />
                <span>Мои задачи</span>
            </div>
            <div>
                <tui-icon icon="@tui.layout-refresh-cw" />
                <span>Спринты</span>
            </div>
            <div>
                <tui-icon icon="@tui.users-round" />
                <span>Команда</span>
            </div>
            <div>
                <tui-icon icon="@tui.calendar" />
                <span>Календарь</span>
            </div>
            <div>
                <tui-icon icon="@tui.chart-column-stacked" />
                <span>Отчеты</span>
            </div>
            <div>
                <tui-icon icon="@tui.settings" />
                <span>Настройки</span>
            </div>
        </div>
    </div>
</div>
