:host {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.settings-page {
    width: 100%;
    height: 100vh;
    background: url(/background-images/dark-background.png);
    display: flex;
}

.settins-components {
    display: flex;
}
