<div class="settings-page">
    <app-sidebar />
    <div class="settings-components-wrapper">
        <app-header />
        <div class="settins-components">
            <div class="left-column">
                <app-personal-info-settins />
                <app-delete-profile />
            </div>
            <div class="right-column">
                <app-security-settings />
                <app-theme-settings />
                <app-notifications-settings />
            </div>
        </div>
    </div>
</div>
