.header {
    width: 1600px;
    height: 84px;
    background-color: var(--color-page-bg-start);
    display: flex;
    padding: 16px 24px;
    border: 1px solid var(--color-card-border);
    border-radius: 24px;
    margin: 10px;
}

.header-search {
    width: 520px;
    height: 40px;
}

.avatar-img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
